<!--LOGIN PAGE
USERNAME:
PASSWORD:
SUBMIT BUTTON
-->

<img src="../../static/assets/img/Keyot-PropertyPicker.png" alt="banana" style="width: 50%">
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Forgot Password{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="email">Enter Your Email</label>
    <input name="email" id="email" required>
    <input type="submit" style="background-color: #E88231" id="forgotPasswordButton">
  </form>
{% endblock %}

