<!--LOGIN PAGE
USERNAME:
PASSWORD:
SUBMIT BUTTON
-->

<img src="../../static/assets/img/Keyot-PropertyPicker.png" alt="banana" style="width: 50%">
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Password{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
   <label for="pin">Enter 8 Digit Pin Number</label>
    <input type="pin" name="pin" id="pin">
    <label for="username">Username</label>
    <input name="username" id="username">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password">
    <label for="password2">Re-type New Password</label>
    <input type="password" name="password2" id="password2">
    <input type="submit" style="background-color: #E88231" id="updatePasswordButton">
  </form>
{% endblock %}

